doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    include ./includes/head
  body(ng-app="myChatApp", ng-controller="myChatCtrl")
    include ./includes/header
    block content